{% extends 'store/base.html' %}

{% block title %}
    Marshall
{% endblock %}

{% block content %}
    <header>
        <div class="header">
            <div class="logo">
                <img src="static/store/logo.png" alt="Marshall Logo">
            </div>
            <a href="{% url 'cart' %}" class="cart">
                <img src="static/store/cart.png" alt="Cart">
                {% if cart.count != 0 %}
                    <p>{{ cart.count }}</p>
                {% endif %}
            </a>
        </div>
    </header>
    <div class="product-grid">
        {% for product in products %}
            <div class="product-card">
                <div class="product-image">
                    {% if product.photo %}
                        <img src="{{ product.photo.url }}" alt="{{ product.name }}" width="200" height="200">
                    {% endif %}
                </div>
                <div class="product-info">
                    <div class="description">
                        <a href="{% url 'product_details' product_slug=product.slug %}">
                            <h2>{{ product.name }}</h2>
                        </a>
                        <p>{{ product.description }}</p>
                    </div>
                    <div class="footer">
                        <p class="product-price">€ {{ product.price }}</p>
                        <button value="{{ product.id }}">Add</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}