<header>
    <div class="header">
        <div class="logo">
            <img src="static/store/logo.png" alt="Marshall Logo">
        </div>
        <div class="cart">
            <img src="static/store/cart.png" alt="Cart">
        </div>
    </div>
</header>
{% extends 'store/base.html' %}

{% block title %}
    Marshall
{% endblock %}

{% block content %}
    <div class="product-grid">
        {% for product in products %}
            <div class="product-card">
                <div class="product-image">
                    {% if product.photo %}
                        <img src="{{ product.photo.url }}" alt="{{ product.name }}" width="200" height="200">
                    {% endif %}
                </div>
                <div class="product-info">
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.description }}</p>
                    <p class="product-price">€ {{ product.price }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}